.section {
    &__header {
        &-title {
           font-size: 58px;
           font-family: $font-family-second;
        }
        & + * {
            margin-top: 40px;
        }
    }
    & + * {
        margin-top: 120px;
    }
}
