<div class="footer-socials">
    <div class="footer-socials__email">
        <a href="mailto:wow!Piter@yandex.ru">
            wow!Piter@yandex.ru
        </a>
    </div>
    <div class="footer__icon">
        <a href="/">
            {{Icon iconName="wc"}}
        </a>
    </div>
    <div class="footer__icon">
        <a href="/">
            {{Icon iconName="tg"}}
        </a>
    </div>
    <div class="footer__icon">
        <a href="/">
            {{Icon iconName="vk"}}
        </a>
    </div>
</div>
