<div class="form-home">
   <div class="form-home__title">
        Закажите лучшую индивидуальную  программу по Петербургу
   </div>
   <div class="form-home__desc">
    Счастье купить нельзя, а эмоции и впечатления - можно! <br>
    Оставляйте свой номер, и в течении 5 минут мы с Вами свяжемся!
   </div>

   <div class="form-home__input">
    <input type="text" class="phone" placeholder="+7 (996)-321-00-45">
    {{>uikit/buttons/markup text="Отправить"}}
   </div>

   <img class="form-home__bg-image form-home__bg-image-first" src="static/img/content/form/home/img1.png" alt="">
   <img class="form-home__bg-image form-home__bg-image-second"src="static/img/content/form/home/img2.png" alt="">
</div>
