<div class="hero">
    <div class="swiper-wrapper">
       {{#each slides}}
        <div class="swiper-slide">
            <div class="hero__card">

               <div class="hero__card-image">
                    <img src="{{img}}" alt="">
               </div>

               <div class="hero__card-label">
                 {{label}}
               </div>
               <div class="hero__card-content">
                    <div class="hero__card-title">
                        {{title}}
                    </div>
                    <div class="hero__card-desc">
                        {{desc}}
                    </div>
                    <div class="hero__card-tags">
                        {{#each tags}}
                            <div class="hero__card-tag">
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                    <div class="hero__card-author">
                        <div class="hero__card-author-avatar">
                            <img src="{{author.img}}" alt="">
                        </div>
                        <div class="hero__card-author-content">
                            <div class="hero__card-author-name">
                                {{author.name}}
                            </div>
                            <div class="hero__card-author-role">
                                {{author.role}}
                            </div>
                        </div>
                        <div class="hero__card-author-action">
                            {{>uikit/buttons/markup text="Забронировать"}}
                        </div>
                    </div>
               </div>
            </div>
        </div>
       {{/each}}
    </div>
    <div class="swiper-button-prev">
    </div>
    <div class="swiper-button-next">
    </div>
    <div class="swiper-pagination"></div>
</div>


