.hero {
    position: relative;

    &__card {
        user-select: none;
        &::after {
            content: ' ';
            position: absolute;
            top: 0;
            left: 0;
            background: rgba($black, .5);
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        overflow: hidden;
        border-radius: 60px;
        position: relative;
        color: $white;
        height: 640px;
        display: flex;
        align-items: center;

        @include respond-to(xl) {
            max-height: 469px;
            border-radius: 45px
        };

        @include respond-to(lg) {
            max-height: 367px;
            border-radius: 30px;
        };





        &-title {
            color: $white;
            font-weight: 400;
            font-family: $font-family-second;
            font-size: 74px;
            line-height: 74px;
            & + * {
                margin-top: 16px;
                @include respond-to(xl) {
                    margin-top: 10px;
                };
            }
            @include respond-to(xl) {
                font-size: 54px;
                line-height: 54px;
            };
            @include respond-to(lg) {
                font-size: 42px;
                line-height: 42px;
            };
        }

        &-label {
            position: absolute;
            z-index: 4;
            background: rgba($black, .6);
            top: 50px;
            left: 50px;
            border-radius: 16px;
            padding: 13px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-to(xl) {
                top: 38px;
                left: 38px;
                padding: 8px;
                border-radius: 9px;
                font-size: 10px;
                line-height: 12px;
            };

            @include respond-to(lg) {
                top: 28px;
                left: 28px;
            };
        }

        &-desc {
            max-width: 510px;
            @include respond-to(xl) {
                font-size: 13px;
            };
            & + * {
                margin-top: 24px;

                @include respond-to(xl) {
                    margin-top: 16px;
                };
            }
        }

        &-content {
            z-index: 4;
            display: flex;
            flex-direction: column;
            padding: 0 50px 50px;

            @include respond-to(xl) {
                padding: 0 38px;
            };

            @include respond-to(lg) {
                padding-left: 28px;
            };
        }
        &-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }

        &-tags {
            display: flex;
            align-items: center;
        }
        &-author {
            position: absolute;
            left: 50px;
            bottom: 50px;
            align-items: center;
            display: flex;

            @include respond-to(xl) {
                left: 38px;
                bottom: 38px;
            };

            @include respond-to(lg) {
                left: 28px;
                bottom: 28px;
            };

            @include respond-to(md) {
                display: none;
            };
            &-avatar {
                width: 50px;
                height: 50px;
                overflow: hidden;
                border-radius: 50%;
                align-items: center;

                @include respond-to(xl) {
                    width: 36px;
                    height: 36px;
                };
                img {
                    object-fit: cover;
                    width: 100%;
                }

                & + * {
                    margin-left: 16px;
                }
            }
            &-role {
                color: rgba($white, .6);
                @include respond-to(xl) {
                    font-size: 10px;
                };
            }
            &-content {
                & + * {
                    margin-left: 52px;
                }
            }
            &-name {
                font-weight: 600;
                @include respond-to(xl) {
                    font-size: 10px;
                };
            }

            &-action {
                .button {
                    border-radius: 16px;
                    padding: 17px 60px;
                }
            }
        }
        &-tag {
            font-size: 14px;
            background: rgba($white, 0.4);
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 6px 11px;

            @include respond-to(xl) {
                font-size: 10px;
                padding: 4px 8px;
            };
            & + * {
                margin-left: 8px;
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        width: 62px;
        height: 62px;
        background: $white;
        box-shadow: 0px 4px 35px 3px rgba(191, 191, 191, 0.17);
        border-radius: 50%;
        &::after {
            transform: scale(0.5);
            color: $black;
        }
    }
    .swiper-pagination {
        bottom: -40px;
        &-bullet {
            width: 17px;
            height: 17px;
            opacity: .1;
            &-active {
                opacity: 1;
                background: $main;
            }
        }
    }
    .swiper-button-disabled {
        opacity: 1;
    }
    .swiper-button-prev {
        left: -31px;
    }
    .swiper-button-next {
        right: -31px;
    }
}
