<div class="promo-home">
    <div class="row">
        <div class="col-lg-6">
            <div class="promo-home__title">
                Мы те, кто подарит Вам идеальный отдых
            </div>
            <div class="promo-home__desc">
                Вам больше не нужно думать как провести свои выходные,  потому что мы всё продумали, проверили и подготовили за Вас!
            </div>
            <div class="promo-home__facts">
                <div class="promo-home__fact">
                    <span>4 </span> года работы
                </div>
                <div class="promo-home__fact">
                    <span>2560+</span> Довольных клиентов
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="promo-home__logo">
                {{Icon iconName="logo"}}
            </div>
        </div>
    </div>
</div>
