.header-menu {
    &__nav {
        display: flex;
        height: 100%;
        align-items: center;
    }

    &__item {
        & + * {
            margin-left: 60px;
        }
    }

    &__link {
        
    }

}
